#DIV_1 {
  block-size: 389px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  bottom: 0px;
  -webkit-box-shadow: rgba(31, 27, 81, 0.07) 0px 4px 20px 0px;
  box-shadow: rgba(31, 27, 81, 0.07) 0px 4px 20px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 389px;
  inline-size: 546px;
  inset-block-end: 0px;
  inset-block-start: 80px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  overflow-wrap: break-word;
  -webkit-padding-after: 20px;
  padding-block-end: 20px;
  -webkit-padding-before: 20px;
  padding-block-start: 20px;
  -webkit-padding-end: 20px;
  padding-inline-end: 20px;
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-perspective-origin: 273px 194.5px;
  perspective-origin: 273px 194.5px;
  position: relative;
  right: 0px;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  top: 80px;
  -webkit-transform-origin: 273px 194.5px;
  -ms-transform-origin: 273px 194.5px;
  transform-origin: 273px 194.5px;
  width: 546px;
  z-index: 1;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #353348;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px;
  padding: 20px; }

/*#DIV_1*/
#DIV_1:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  display: block;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_1:after*/
#DIV_1:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  display: block;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_1:before*/
#DIV_2 {
  block-size: 349px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  height: 349px;
  inline-size: 506px;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  -webkit-padding-after: 16px;
  padding-block-end: 16px;
  -webkit-padding-before: 16px;
  padding-block-start: 16px;
  -webkit-padding-end: 16px;
  padding-inline-end: 16px;
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  -webkit-perspective-origin: 253px 174.5px;
  perspective-origin: 253px 174.5px;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 253px 174.5px;
  -ms-transform-origin: 253px 174.5px;
  transform-origin: 253px 174.5px;
  width: 506px;
  border: 0px none #353348;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px;
  padding: 16px; }

/*#DIV_2*/
#DIV_2:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_2:after*/
#DIV_2:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_2:before*/
#H6_3 {
  block-size: 19px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  height: 19px;
  inline-size: 474px;
  -webkit-margin-after: 48px;
  margin-block-end: 48px;
  -webkit-margin-before: 0px;
  margin-block-start: 0px;
  overflow-wrap: break-word;
  -webkit-perspective-origin: 237px 9.5px;
  perspective-origin: 237px 9.5px;
  text-align: center;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 237px 9.5px;
  -ms-transform-origin: 237px 9.5px;
  transform-origin: 237px 9.5px;
  width: 474px;
  border: 0px none #353348;
  font: 500 16px / 19.2px Poppins, sans-serif;
  margin: 0px 0px 48px;
  outline: #353348 none 0px; }

/*#H6_3*/
#H6_3:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 500 16px / 19.2px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#H6_3:after*/
#H6_3:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 500 16px / 19.2px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#H6_3:before*/
#FORM_4 {
  block-size: 250px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  height: 250px;
  inline-size: 474px;
  -webkit-margin-after: 0px;
  margin-block-end: 0px;
  overflow-wrap: break-word;
  -webkit-perspective-origin: 237px 125px;
  perspective-origin: 237px 125px;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 237px 125px;
  -ms-transform-origin: 237px 125px;
  transform-origin: 237px 125px;
  width: 474px;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  margin: 0px;
  outline: #353348 none 0px; }

/*#FORM_4*/
#FORM_4:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#FORM_4:after*/
#FORM_4:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#FORM_4:before*/
#DIV_5 {
  block-size: 250px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  inline-size: 498px;
  -webkit-margin-end: -12px;
  margin-inline-end: -12px;
  -webkit-margin-start: -12px;
  margin-inline-start: -12px;
  overflow-wrap: break-word;
  -webkit-perspective-origin: 249px 125px;
  perspective-origin: 249px 125px;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 249px 125px;
  -ms-transform-origin: 249px 125px;
  transform-origin: 249px 125px;
  width: 498px;
  border: 0px none #353348;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font: 14.4px / 23.04px Poppins, sans-serif;
  margin: 0px -12px;
  outline: #353348 none 0px; }

/*#DIV_5*/
#DIV_5:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  display: block;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_5:after*/
#DIV_5:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  display: block;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_5:before*/
#DIV_6 {
  block-size: 250px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  height: 250px;
  inline-size: 498px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 100%;
  max-width: 100%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  overflow-wrap: break-word;
  -webkit-padding-end: 12px;
  padding-inline-end: 12px;
  -webkit-padding-start: 12px;
  padding-inline-start: 12px;
  -webkit-perspective-origin: 249px 125px;
  perspective-origin: 249px 125px;
  position: relative;
  right: 0px;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  top: 0px;
  -webkit-transform-origin: 249px 125px;
  -ms-transform-origin: 249px 125px;
  transform-origin: 249px 125px;
  width: 498px;
  border: 0px none #353348;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px;
  padding: 0px 12px; }

/*#DIV_6*/
#DIV_6:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_6:after*/
#DIV_6:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_6:before*/
#DIV_7, #DIV_10, #DIV_13 {
  block-size: 45px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  height: 45px;
  inline-size: 474px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  -webkit-margin-after: 24px;
  margin-block-end: 24px;
  overflow-wrap: break-word;
  -webkit-perspective-origin: 237px 22.5px;
  perspective-origin: 237px 22.5px;
  position: relative;
  right: 0px;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  top: 0px;
  -webkit-transform-origin: 237px 22.5px;
  -ms-transform-origin: 237px 22.5px;
  transform-origin: 237px 22.5px;
  width: 474px;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  margin: 0px 0px 24px;
  outline: #353348 none 0px; }

/*#DIV_7, #DIV_10, #DIV_13*/
#DIV_7:after, #DIV_10:after, #DIV_13:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_7:after, #DIV_10:after, #DIV_13:after*/
#DIV_7:before, #DIV_10:before, #DIV_13:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_7:before, #DIV_10:before, #DIV_13:before*/
#LABEL_8 {
  block-size: 28px;
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  bottom: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  display: block;
  height: 28px;
  inline-size: 91.9375px;
  inset-block-end: 22px;
  inset-block-start: -13px;
  inset-inline-end: 370.062px;
  inset-inline-start: 12px;
  left: 12px;
  -webkit-margin-after: 8px;
  margin-block-end: 8px;
  overflow-wrap: break-word;
  -webkit-padding-after: 4px;
  padding-block-end: 4px;
  -webkit-padding-before: 4px;
  padding-block-start: 4px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-perspective-origin: 45.9688px 14px;
  perspective-origin: 45.9688px 14px;
  position: absolute;
  right: 370.062px;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  top: -13px;
  -webkit-transform-origin: 45.9688px 14px;
  -ms-transform-origin: 45.9688px 14px;
  transform-origin: 45.9688px 14px;
  width: 91.9375px;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  margin: 0px 0px 8px;
  outline: #b5b5c3 none 0px;
  padding: 4px 10px; }

/*#LABEL_8*/
#LABEL_8:after {
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  outline: #b5b5c3 none 0px; }

/*#LABEL_8:after*/
#LABEL_8:before {
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  outline: #b5b5c3 none 0px; }

/*#LABEL_8:before*/
#INPUT_9 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: 98% 50%;
  block-size: 45px;
  border-block-end-color: #eaebec;
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: #eaebec;
  border-block-start-style: solid;
  border-block-start-width: 1px;
  border-inline-end-color: #eaebec;
  border-inline-end-style: solid;
  border-inline-end-width: 1px;
  border-inline-start-color: #eaebec;
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
  caret-color: #212529;
  color: #212529;
  -webkit-column-rule-color: #212529;
  column-rule-color: #212529;
  cursor: auto;
  display: block;
  height: 45px;
  inline-size: 474px;
  overflow-wrap: break-word;
  -webkit-padding-after: 6px;
  padding-block-end: 6px;
  -webkit-padding-before: 6px;
  padding-block-start: 6px;
  -webkit-padding-end: 12px;
  padding-inline-end: 12px;
  -webkit-padding-start: 12px;
  padding-inline-start: 12px;
  -webkit-perspective-origin: 237px 22.5px;
  perspective-origin: 237px 22.5px;
  -webkit-text-decoration: none solid #212529;
  text-decoration: none solid #212529;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 237px 22.5px;
  -ms-transform-origin: 237px 22.5px;
  transform-origin: 237px 22.5px;
  width: 474px;
  background: white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==") no-repeat scroll 98% 50%/16px 18px padding-box padding-box;
  border: 1px solid #eaebec;
  border-radius: 4px;
  font: 13px / 19.5px Poppins, sans-serif;
  outline: #212529 none 0px;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s; }

/*#INPUT_9*/
#INPUT_9:after {
  border-block-end-color: #212529;
  border-block-start-color: #212529;
  border-inline-end-color: #212529;
  border-inline-start-color: #212529;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #212529;
  color: #212529;
  -webkit-column-rule-color: #212529;
  column-rule-color: #212529;
  cursor: auto;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #212529;
  text-decoration: none solid #212529;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #212529;
  font: 13px / 19.5px Poppins, sans-serif;
  outline: #212529 none 0px; }

/*#INPUT_9:after*/
#INPUT_9:before {
  border-block-end-color: #212529;
  border-block-start-color: #212529;
  border-inline-end-color: #212529;
  border-inline-start-color: #212529;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #212529;
  color: #212529;
  -webkit-column-rule-color: #212529;
  column-rule-color: #212529;
  cursor: auto;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #212529;
  text-decoration: none solid #212529;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #212529;
  font: 13px / 19.5px Poppins, sans-serif;
  outline: #212529 none 0px; }

/*#INPUT_9:before*/
#LABEL_11 {
  block-size: 28px;
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  bottom: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  display: block;
  height: 28px;
  inline-size: 87.7969px;
  inset-block-end: 22px;
  inset-block-start: -13px;
  inset-inline-end: 374.203px;
  inset-inline-start: 12px;
  left: 12px;
  -webkit-margin-after: 8px;
  margin-block-end: 8px;
  overflow-wrap: break-word;
  -webkit-padding-after: 4px;
  padding-block-end: 4px;
  -webkit-padding-before: 4px;
  padding-block-start: 4px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-perspective-origin: 43.8906px 14px;
  perspective-origin: 43.8906px 14px;
  position: absolute;
  right: 374.203px;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  top: -13px;
  -webkit-transform-origin: 43.8984px 14px;
  -ms-transform-origin: 43.8984px 14px;
  transform-origin: 43.8984px 14px;
  width: 87.7969px;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  margin: 0px 0px 8px;
  outline: #b5b5c3 none 0px;
  padding: 4px 10px; }

/*#LABEL_11*/
#LABEL_11:after {
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  outline: #b5b5c3 none 0px; }

/*#LABEL_11:after*/
#LABEL_11:before {
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  outline: #b5b5c3 none 0px; }

/*#LABEL_11:before*/
#INPUT_12, #INPUT_15 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  block-size: 45px;
  border-block-end-color: #eaebec;
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: #eaebec;
  border-block-start-style: solid;
  border-block-start-width: 1px;
  border-inline-end-color: #eaebec;
  border-inline-end-style: solid;
  border-inline-end-width: 1px;
  border-inline-start-color: #eaebec;
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
  caret-color: #212529;
  color: #212529;
  -webkit-column-rule-color: #212529;
  column-rule-color: #212529;
  display: block;
  height: 45px;
  inline-size: 474px;
  overflow-wrap: break-word;
  -webkit-padding-after: 6px;
  padding-block-end: 6px;
  -webkit-padding-before: 6px;
  padding-block-start: 6px;
  -webkit-padding-end: 12px;
  padding-inline-end: 12px;
  -webkit-padding-start: 12px;
  padding-inline-start: 12px;
  -webkit-perspective-origin: 237px 22.5px;
  perspective-origin: 237px 22.5px;
  -webkit-text-decoration: none solid #212529;
  text-decoration: none solid #212529;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 237px 22.5px;
  -ms-transform-origin: 237px 22.5px;
  transform-origin: 237px 22.5px;
  width: 474px;
  background: white none repeat scroll 0% 0%/auto padding-box padding-box;
  border: 1px solid #eaebec;
  border-radius: 4px;
  font: 13px / 19.5px Poppins, sans-serif;
  outline: #212529 none 0px;
  padding: 6px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
  -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s; }

/*#INPUT_12, #INPUT_15*/
#INPUT_12:after, #INPUT_15:after {
  border-block-end-color: #212529;
  border-block-start-color: #212529;
  border-inline-end-color: #212529;
  border-inline-start-color: #212529;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #212529;
  color: #212529;
  -webkit-column-rule-color: #212529;
  column-rule-color: #212529;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #212529;
  text-decoration: none solid #212529;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #212529;
  font: 13px / 19.5px Poppins, sans-serif;
  outline: #212529 none 0px; }

/*#INPUT_12:after, #INPUT_15:after*/
#INPUT_12:before, #INPUT_15:before {
  border-block-end-color: #212529;
  border-block-start-color: #212529;
  border-inline-end-color: #212529;
  border-inline-start-color: #212529;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #212529;
  color: #212529;
  -webkit-column-rule-color: #212529;
  column-rule-color: #212529;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #212529;
  text-decoration: none solid #212529;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #212529;
  font: 13px / 19.5px Poppins, sans-serif;
  outline: #212529 none 0px; }

/*#INPUT_12:before, #INPUT_15:before*/
#LABEL_14 {
  block-size: 28px;
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  bottom: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  display: block;
  height: 28px;
  inline-size: 96.4844px;
  inset-block-end: 22px;
  inset-block-start: -13px;
  inset-inline-end: 365.516px;
  inset-inline-start: 12px;
  left: 12px;
  -webkit-margin-after: 8px;
  margin-block-end: 8px;
  overflow-wrap: break-word;
  -webkit-padding-after: 4px;
  padding-block-end: 4px;
  -webkit-padding-before: 4px;
  padding-block-start: 4px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-perspective-origin: 48.2344px 14px;
  perspective-origin: 48.2344px 14px;
  position: absolute;
  right: 365.516px;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  top: -13px;
  -webkit-transform-origin: 48.2422px 14px;
  -ms-transform-origin: 48.2422px 14px;
  transform-origin: 48.2422px 14px;
  width: 96.4844px;
  background: white none repeat scroll 0% 0%/auto padding-box border-box;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  margin: 0px 0px 8px;
  outline: #b5b5c3 none 0px;
  padding: 4px 10px; }

/*#LABEL_14*/
#LABEL_14:after {
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  outline: #b5b5c3 none 0px; }

/*#LABEL_14:after*/
#LABEL_14:before {
  border-block-end-color: #b5b5c3;
  border-block-start-color: #b5b5c3;
  border-inline-end-color: #b5b5c3;
  border-inline-start-color: #b5b5c3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #b5b5c3;
  color: #b5b5c3;
  -webkit-column-rule-color: #b5b5c3;
  column-rule-color: #b5b5c3;
  overflow-wrap: break-word;
  -webkit-text-decoration: none solid #b5b5c3;
  text-decoration: none solid #b5b5c3;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #b5b5c3;
  font: 13px / 20.8px Poppins, sans-serif;
  outline: #b5b5c3 none 0px; }

/*#LABEL_14:before*/
#DIV_16 {
  block-size: 43px;
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  height: 43px;
  inline-size: 474px;
  -webkit-margin-before: 24px;
  margin-block-start: 24px;
  overflow-wrap: break-word;
  -webkit-perspective-origin: 237px 21.5px;
  perspective-origin: 237px 21.5px;
  text-align: center;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 237px 21.5px;
  -ms-transform-origin: 237px 21.5px;
  transform-origin: 237px 21.5px;
  width: 474px;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  margin: 24px 0px 0px;
  outline: #353348 none 0px; }

/*#DIV_16*/
#DIV_16:after {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_16:after*/
#DIV_16:before {
  border-block-end-color: #353348;
  border-block-start-color: #353348;
  border-inline-end-color: #353348;
  border-inline-start-color: #353348;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: #353348;
  color: #353348;
  -webkit-column-rule-color: #353348;
  column-rule-color: #353348;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-text-decoration: none solid #353348;
  text-decoration: none solid #353348;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border: 0px none #353348;
  font: 14.4px / 23.04px Poppins, sans-serif;
  outline: #353348 none 0px; }

/*#DIV_16:before*/
#A_17 {
  block-size: 43px;
  border-block-end-color: #6d62fd;
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: #6d62fd;
  border-block-start-style: solid;
  border-block-start-width: 1px;
  border-inline-end-color: #6d62fd;
  border-inline-end-style: solid;
  border-inline-end-width: 1px;
  border-inline-start-color: #6d62fd;
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: white;
  color: white;
  -webkit-column-rule-color: white;
  column-rule-color: white;
  display: inline-block;
  height: 43px;
  inline-size: 178.547px;
  overflow-wrap: break-word;
  -webkit-padding-after: 10px;
  padding-block-end: 10px;
  -webkit-padding-before: 10px;
  padding-block-start: 10px;
  -webkit-padding-end: 20px;
  padding-inline-end: 20px;
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-perspective-origin: 89.2656px 21.5px;
  perspective-origin: 89.2656px 21.5px;
  text-align: center;
  -webkit-text-decoration: none solid white;
  text-decoration: none solid white;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-transform-origin: 89.2734px 21.5px;
  -ms-transform-origin: 89.2734px 21.5px;
  transform-origin: 89.2734px 21.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 178.547px;
  background: #6d62fd none repeat scroll 0% 0%/auto padding-box border-box;
  border: 1px solid #6d62fd;
  border-radius: 4px;
  font: 500 14px / 21px Poppins, sans-serif;
  outline: white none 0px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

/*#A_17*/
#A_17:after {
  border-block-end-color: white;
  border-block-start-color: white;
  border-inline-end-color: white;
  border-inline-start-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: white;
  color: white;
  -webkit-column-rule-color: white;
  column-rule-color: white;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-text-decoration: none solid white;
  text-decoration: none solid white;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px none white;
  font: 500 14px / 21px Poppins, sans-serif;
  outline: white none 0px; }

/*#A_17:after*/
#A_17:before {
  border-block-end-color: white;
  border-block-start-color: white;
  border-inline-end-color: white;
  border-inline-start-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: white;
  color: white;
  -webkit-column-rule-color: white;
  column-rule-color: white;
  overflow-wrap: break-word;
  text-align: center;
  -webkit-text-decoration: none solid white;
  text-decoration: none solid white;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px none white;
  font: 500 14px / 21px Poppins, sans-serif;
  outline: white none 0px; }

/*#A_17:before*/
